<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chemistry.software</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="/static/js/theme.js" defer></script>
    <link href="/static/css/tailwind.css" rel="stylesheet">
    <link rel="alternate" hrefLang="en" href="https://chemistry.software/">
    <link rel="alternate" hrefLang="nl" href="https://chemistry.software/?lang=nl">
    <link rel="alternate" hreflang="x-default" href="https://chemistry.software/">

</head>
<body class="min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-white flex flex-col">
    <div id="header-container">
        {{ template "header.html" . }}
    </div>

    <!-- Main Content Area -->
    <main id="content" class="container mx-auto flex-grow">
        {{ template "hero.html" . }}

        {{ template "atoms.html" . }}
    </main>

    {{ template "footer.html" . }}
</body>
</html>